# Web Framework
Flask==3.0.2

# Image Processing
opencv-python==4.9.0.80
numpy==1.26.4

# Database Connector
# Use psycopg2-binary for easier installation without local C compilers
psycopg2-binary==2.9.9

# Utility
python-dotenv==1.0.1